<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="../css/styles.css">
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css">
	<title>Form</title>
</head>
<body>
	<!-- NAVBAR -->
	
<nav class="navbar navbar-dark bg-primary navbar-expand-md ">
	<div class="container">
  <a class="navbar-brand" href="#">
    <img src="../img/icon.png" width="50" height="50" class="d-inline-block align-top rounded-circle" alt="">
   PhotoGallery
  </a>
<button type="button" class="navbar-toggler " data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false"> <span class="navbar-toggler-icon " > </span>  
        </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav  ml-auto  ">
                    <li class="navbar-item"> <a href="#" class="nav-link active ">Inicio </a>
                    </li>
                    <li class="navbar-item"> <a href="./formCard.html" class="nav-link"> Update photo </a>
                    </li>
                    <li class="navbar-item"> <a href="./card.html" class="nav-link">View photos</a>
                    </li>
                </ul>
            </div>

  </div>     
</nav>


	
<!-- .::FORMULARIO::. -->
 
 

  <h1 class="display-4 text-center mt-5"  > choose your photo and upload it!!</h1>
   
 

<div class="container">
	<div class="row justify-content-center ">
		<div class="col-12 col-md-5 pb-5">
             <div  class="conainer" >
             	<img src="../img/circulosVector.svg " width="1000" height="1000"  class="img img-fluid mt-5">
             </div>		
		</div>
		
<div class="col-12 col-md-4 mt-5 pt-5 ">
		<form>
  <div class="form-group">
    <label for="exampleInputEmail1"  ><h5>Titulo</h5></label>
    <input type="text" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" ><h5> Description </h5> </label>
    <input type="text" class="form-control" id="exampleInputText">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" > <h5>Photo</h5></label>
    <input type="file" class="form-control" id="exampleInputText">
  </div>  
  <button type="submit" class="btn btn-primary"><h5>Add</h5></button>
</form>
		</div>

	</div>
  </div>


<!-- .::FOOTER::. -->
<footer class="foot bg-dark text-center text-md-right text-white mt-5  ">
        <div class="container">
            <p class="m-0 py-3">
               <small>Jairo Javier Avila Maury. Copyrigth &copy 2020.  Todos los derechos reservados.</small></p>
        </div>
    </footer>


    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>			
</body>
</html>